extends layout

block content
  h1 Generatory
  p Projekt mający na celu ułatwić ludziom życie
  ul
    li
        a(href='/pesel') Generator pesel
    li
        a(href='/nip') Generator NIP
    li
        a(href='/regon') Generator REGON
    li
        a(href='/iban') Generator IBAN
    li
        a(href='/identityNumber') Generator numer dowodu
