extends layout

block content
  h2 Generatory:
  ul
    li
        a(href='/pesel') Generator pesel
    li
        a(href='/nip') Generator NIP
    li
        a(href='/regon') Generator REGON
    li
        a(href='/iban') Generator IBAN
    li
        a(href='/numer-dowodu-osobistego') Generator numer dowodu
