extends layout

block content
  h1 Generatory:
  p Darmowe automatyczne generatory różnych liczb i ciągów znaków takich jak Powszechny Elektroniczny System Ewidencji, Numer identyfikacji podatkowej, Rejestr Gospodarki Narodowej Międzynarodowy numer rachunku bankowego, IBAN (z ang. International Bank Account Number).
  ul
    li
        a(href='/pesel') Generator pesel
    li
        a(href='/nip') Generator NIP
    li
        a(href='/regon') Generator REGON
    li
        a(href='/iban') Generator IBAN
    li
        a(href='/numer-dowodu-osobistego') Generator numer dowodu
