doctype html
html(lang="pl-PL")
  head
    title= title
    meta(name="description", content=description)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="logo")
        a(href="/") GenEraTory.0Vh
    div(class="content")
        block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")