doctype html
html(lang="pl-PL")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="logo")
        a(href="http://generatory.ovh") GenEraTory.0Vh
    div(class="content")
        block content
