body {
    padding: 0 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    font-family: "Book Antiqua";
}

.ibanField {
    width: 200px;
}

.logo {
    text-align: center;
    font-size: 50px;
    font-family: "Agency FB";
}