body {
    padding: 0 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
}

h1 {
    font-family: "Book Antiqua";
}

.logo {
    text-align: center;
    font-size: 50px;
    font-family: "Agency FB";
}

.content>ul {
    padding: 0px;
    list-style-type: none;
}

.content>ul>li {
    padding-top: 2px;
}